In [15]:
import pandas as pd
import numpy as np

In [16]:
df2 = pd.read_csv('IndianFinancialNews.csv')

In [17]:
df2.head()

,Unnamed: 0,Date,Title,Description
0,0,"May 26, 2020, Tuesday","ATMs to become virtual bank branches, accept d...","Close to 14.6 per cent (or 35,000) of the 240,..."
1,1,"May 26, 2020, Tuesday",IDFC First Bank seniors to forgo 65% of bonus ...,"V Vaidyanathan, managing director and chief ex..."
2,2,"May 25, 2020, Monday","Huge scam in YES Bank for many years, says Enf...",Rana Kapoor's wife also charged with abetting ...
3,3,"May 24, 2020, Sunday","Bank of Maharashtra sanctioned Rs 2,789 cr in ...",The bank said it was now gearing up to extend ...
4,4,"May 23, 2020, Saturday",DCB Bank's profit before tax declines 37.6% to...,Net profit for the financial year ended March ...

In [18]:
#convert the date column to datetime format
df2['Date'] = pd.to_datetime(df2['Date'])

In [20]:
#drop Unnamed: 0 column
df2.drop(['Unnamed: 0'], axis=1, inplace=True)
df2.head()

,Date,Title,Description
0,2020-05-26,"ATMs to become virtual bank branches, accept d...","Close to 14.6 per cent (or 35,000) of the 240,..."
1,2020-05-26,IDFC First Bank seniors to forgo 65% of bonus ...,"V Vaidyanathan, managing director and chief ex..."
2,2020-05-25,"Huge scam in YES Bank for many years, says Enf...",Rana Kapoor's wife also charged with abetting ...
3,2020-05-24,"Bank of Maharashtra sanctioned Rs 2,789 cr in ...",The bank said it was now gearing up to extend ...
4,2020-05-23,DCB Bank's profit before tax declines 37.6% to...,Net profit for the financial year ended March ...

In [21]:
#Create 2 columns category and main_category with all values as financial documents
df2['category'] = 'Financial documents'
df2['main_category'] = 'Financial documents'
df2.head()

,Date,Title,Description,category,main_category
0,2020-05-26,"ATMs to become virtual bank branches, accept d...","Close to 14.6 per cent (or 35,000) of the 240,...",Financial documents,Financial documents
1,2020-05-26,IDFC First Bank seniors to forgo 65% of bonus ...,"V Vaidyanathan, managing director and chief ex...",Financial documents,Financial documents
2,2020-05-25,"Huge scam in YES Bank for many years, says Enf...",Rana Kapoor's wife also charged with abetting ...,Financial documents,Financial documents
3,2020-05-24,"Bank of Maharashtra sanctioned Rs 2,789 cr in ...",The bank said it was now gearing up to extend ...,Financial documents,Financial documents
4,2020-05-23,DCB Bank's profit before tax declines 37.6% to...,Net profit for the financial year ended March ...,Financial documents,Financial documents

In [22]:
#reaarange the columns in the dataframe
df2 = df2[['Title', 'main_category', 'category', 'Date', 'Description']]

In [23]:
#rename the columns
df2.rename(columns={'Date':'date', 'Description':'description'}, inplace=True)

In [ ]:
import nltk
nltk.download('stopwords')

nltk.download('punkt')
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')

In [31]:
import pandas as pd
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import string

def preprocess_text(text):
    if isinstance(text, str):
        lemmatizer = WordNetLemmatizer()
        stop_words = set(stopwords.words("english"))
        punctuations = set(string.punctuation)

        # Your preprocessing steps
        text = text.lower()
        tokens = word_tokenize(text)
        tokens = [lemmatizer.lemmatize(token) for token in tokens if token not in stop_words and token not in punctuations and token.isalpha()]

        return ' '.join(tokens)
    else:
        # Handle non-string values, you can return an empty string or handle it in another way based on your requirements.
        return ''

# Apply the preprocessing function to the 'Title' and 'description' columns
df2['Title_clean'] = df2['Title'].apply(preprocess_text)
df2['description_clean'] = df2['description'].apply(preprocess_text)

# Save the cleaned dataset to a CSV file
df2.to_csv('financial_clean_dataset.csv', index=False)

[nltk_data] Downloading package punkt to C:\Users\Dev
[nltk_data]     Chakravarty\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to C:\Users\Dev
[nltk_data]     Chakravarty\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to C:\Users\Dev
[nltk_data]     Chakravarty\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [32]:
df3 = pd.read_csv('financial_clean_dataset.csv')
df3.head()

,Title,main_category,category,date,description,Title_clean,description_clean
0,"ATMs to become virtual bank branches, accept d...",Financial documents,Financial documents,2020-05-26,"Close to 14.6 per cent (or 35,000) of the 240,...",atm become virtual bank branch accept deposit ...,close per cent atm india recyclers even though...
1,IDFC First Bank seniors to forgo 65% of bonus ...,Financial documents,Financial documents,2020-05-26,"V Vaidyanathan, managing director and chief ex...",idfc first bank senior forgo bonus amid crisis,v vaidyanathan managing director chief executi...
2,"Huge scam in YES Bank for many years, says Enf...",Financial documents,Financial documents,2020-05-25,Rana Kapoor's wife also charged with abetting ...,huge scam yes bank many year say enforcement d...,rana kapoor wife also charged abetting crime
3,"Bank of Maharashtra sanctioned Rs 2,789 cr in ...",Financial documents,Financial documents,2020-05-24,The bank said it was now gearing up to extend ...,bank maharashtra sanctioned r cr loan msmes month,bank said gearing extend stimulus package anno...
4,DCB Bank's profit before tax declines 37.6% to...,Financial documents,Financial documents,2020-05-23,Net profit for the financial year ended March ...,dcb bank profit tax decline r crore,net profit financial year ended march stood r ...

In [33]:
#drop Title and description columns
df3.drop(['Title', 'description'], axis=1, inplace=True)
#rename the columns
df3.rename(columns={'Title_clean':'Title', 'description_clean':'description'}, inplace=True)
#reoorder the columns   
df3 = df3[['Title', 'main_category', 'category', 'date', 'description']]

In [34]:
df3.head()

,Title,main_category,category,date,description
0,atm become virtual bank branch accept deposit ...,Financial documents,Financial documents,2020-05-26,close per cent atm india recyclers even though...
1,idfc first bank senior forgo bonus amid crisis,Financial documents,Financial documents,2020-05-26,v vaidyanathan managing director chief executi...
2,huge scam yes bank many year say enforcement d...,Financial documents,Financial documents,2020-05-25,rana kapoor wife also charged abetting crime
3,bank maharashtra sanctioned r cr loan msmes month,Financial documents,Financial documents,2020-05-24,bank said gearing extend stimulus package anno...
4,dcb bank profit tax decline r crore,Financial documents,Financial documents,2020-05-23,net profit financial year ended march stood r ...

In [35]:
#save the dataframe to a csv file
df3.to_csv('financial_reports_final_dataset.csv', index=False)